@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.bigmargin{
    margin-bottom: 25rem;
  }


  .bigmargintwo{
    margin-top: 7rem;
  }

.removepadding {
  margin: 0px !important;
  padding: 0rem, !important;
    border: 0px !important;
    
}